<!-- START HEADER SECTION -->
<header class="header-section section sticker header-transparent">
  <div class="container-fluid">
      <div class="row">
          <!-- logo -->
          <div class="col-md-2 col-sm-6 col-xs-6">
              <div class="header-logo">
                  <a href="index.html"><img src="assets/img/logo.png" alt="main logo"></a>
              </div>
          </div>
          <!-- header-search & total-cart -->
          <div class="col-md-2 col-sm-6 col-xs-6 float-right">
              <div class="header-option-btns float-right">
                  <!-- header-search -->
                  <div class="header-search float-left">
                      <button class="search-toggle" data-toggle="modal" data-target="#myModal" ><i class="pe-7s-search"></i></button>
                  </div>
                  <!-- header Account -->
                  <div class="header-account float-left">
                      <ul>
                          <li><a href="#" data-toggle="dropdown"><i class="pe-7s-config"></i></a>
                              <ul class="dropdown-menu">
                                  <li><a href="login.html">Log in</a></li>
                                  <li><a href="register.html">Register</a></li>
                                  <li><a href="#">My Account</a></li>
                                  <li><a href="wishlist.html">Wish list</a></li>
                                  <li><a href="checkout.html">Checkout</a></li>
                              </ul>
                          </li>
                      </ul>
                  </div>
                  <!-- Header Cart -->
                  <div class="header-cart float-left">
                      <!-- Cart Toggle -->
                      <a class="cart-toggle" href="#" data-toggle="dropdown">
                          <i class="pe-7s-cart"></i>
                          <span>2</span>
                      </a>
                      <!-- Mini Cart Brief -->
                      <div class="mini-cart-brief dropdown-menu text-left">
                          <div class="cart-items"><p>You have <span>2 items</span> in your shopping bag</p></div>
                          <!-- Cart Products -->
                          <div class="all-cart-product clearfix">
                              <div class="single-cart clearfix">
                                  <div class="cart-image">
                                      <a href="product-details.html"><img src="assets/img/product/cart-1.jpg" alt=""></a>
                                  </div>
                                  <div class="cart-info">
                                      <h5><a href="product-details.html">Le Parc Minotti Chair</a></h5>
                                      <p>Price : £9.00</p>
                                      <p>Qty : 1</p>
                                      <a href="#" class="cart-delete" title="Remove this item"><i class="pe-7s-trash"></i></a>
                                  </div>
                              </div>
                              <div class="single-cart clearfix">
                                  <div class="cart-image">
                                      <a href="product-details.html"><img src="assets/img/product/cart-2.jpg" alt=""></a>
                                  </div>
                                  <div class="cart-info">
                                      <h5><a href="product-details.html">DSR Eiffel chair</a></h5>
                                      <p>Price : £9.00</p>
                                      <p>Qty : 1</p>
                                      <a href="#" class="cart-delete" title="Remove this item"><i class="pe-7s-trash"></i></a>
                                  </div>
                              </div>
                          </div>
                          <!-- Cart Total -->
                          <div class="cart-totals">
                              <h5>Total <span>£12.00</span></h5>
                          </div>
                          <!-- Cart Button -->
                          <div class="cart-bottom  clearfix">
                              <a href="checkout.html">Check out</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- primary-menu -->
          <div class="col-md-8 col-xs-12">
              <nav class="main-menu text-center">
                  <ul>
                      <li class="active"><a href="index.html">Home</a>
                          <ul class="sub-menu">
                              <li class="active"><a href="index.html">Home one</a></li>
                              <li><a href="index-2.html">Home two</a></li>
                              <li><a href="index-3.html">Home three</a></li>
                              <li><a href="index-4.html">Home four</a></li>
                          </ul>
                      </li>
                      <li><a href="shop.html">shop</a>
                          <ul class="mega-menu">
                              <li><a href="shop-list-right-sidebar.html">Chair</a>
                                  <ul>
                                      <li><a href="shop.html">Tops</a></li>
                                      <li><a href="shop-list-right-sidebar.html">Bras &amp; Tanks</a></li>
                                      <li><a href="shop-list.html">Trousers</a></li>
                                      <li><a href="shop-right-sidebar.html">Hoodies &amp; Sweatshirts</a></li>
                                      <li><a href="shop.html">Tees</a></li>
                                      <li><a href="shop-list.html">Jackets</a></li>
                                  </ul>
                              </li>
                              <li><a href="shop-list.html">Table</a>
                                  <ul>
                                      <li><a href="shop.html">Tops</a></li>
                                      <li><a href="shop-list-right-sidebar.html">Bras &amp; Tanks</a></li>
                                      <li><a href="shop-list.html">Trousers</a></li>
                                      <li><a href="shop-right-sidebar.html">Hoodies &amp; Sweatshirts</a></li>
                                      <li><a href="shop.html">Tees</a></li>
                                      <li><a href="shop-list.html">Jackets</a></li>
                                  </ul>
                              </li>
                              <li><a href="shop-right-sidebar.html">Cabinet</a>
                                  <ul>
                                      <li><a href="shop.html">Tops</a></li>
                                      <li><a href="shop-list-right-sidebar.html">Bras &amp; Tanks</a></li>
                                      <li><a href="shop-list.html">Trousers</a></li>
                                      <li><a href="shop-right-sidebar.html">Hoodies &amp; Sweatshirts</a></li>
                                      <li><a href="shop.html">Tees</a></li>
                                      <li><a href="shop-list.html">Jackets</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li><a href="shop-list.html">sofa</a></li>
                      <li><a href="shop-right-sidebar.html">Cabinet</a></li>
                      <li><a href="#">Pages</a>
                          <ul class="sub-menu">
                              <li><a href="cart.html">cart</a></li>
                              <li><a href="checkout.html">checkout</a></li>
                              <li><a href="contact.html">contact</a></li>
                              <li><a href="login.html">login</a></li>
                              <li><a href="product-details.html">product details</a></li>
                              <li><a href="register.html">register</a></li>
                              <li><a href="shop.html">shop</a></li>
                              <li><a href="shop-list.html">shop list</a></li>
                              <li><a href="shop-list-right-sidebar.html">shop list right sidebar</a></li>
                              <li><a href="shop-right-sidebar.html">shop right sidebar</a></li>
                              <li><a href="wishlist.html">wishlist</a></li>
                          </ul>
                      </li>
                      <li><a href="blog.html">Blog</a>
                          <ul class="sub-menu">
                              <li><a href="blog.html">blog</a></li>
                              <li><a href="blog-details.html">blog details</a></li>
                          </ul>
                      </li>
                      <li><a href="contact.html">Contact</a></li>
                  </ul>
              </nav>
              <div class="mobile-menu"></div>
          </div>
      </div>
  </div>
</header>
<!-- END HEADER SECTION -->