<!-- Search Modal -->
<div class="search-modal modal fade text-center" id="myModal">
    <div class="header-search-form">
        <form action="#">
            <input type="text" placeholder="Search">
            <button><i class="pe-7s-search"></i></button>
        </form>
    </div>
</div>

<!-- START SLIDER SECTION -->
<div class="home-slider-section section">
    <!-- Home Slider -->
    <div id="home-slider" class="slides">
        <img src="assets/img/slider/1.jpg" alt="" title="#slider-caption-1" />
        <img src="assets/img/slider/2.jpg" alt="" title="#slider-caption-2" />
    </div>
    <!-- Caption 1 -->
    <div id="slider-caption-1" class="nivo-html-caption">
        <div class="container">
            <div class="row">
                <div class="hero-slider-content col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 col-xs-12">
                    <h4 class="wow rotateInDownLeft" data-wow-duration="1s" data-wow-delay="0.5s">welcome to our</h4>
                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">furniture gallery</h1>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    <a href="product-details.html" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">Buy now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Caption 2 -->
    <div id="slider-caption-2" class="nivo-html-caption">
        <div class="container">
            <div class="row">
                <div class="hero-slider-content col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 col-xs-12">
                    <h4 class="wow rotateInDownLeft" data-wow-duration="1s" data-wow-delay="0.5s">welcome to our</h4>
                    <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">furniture gallery</h1>
                    <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                    <a href="product-details.html" class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">Buy now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SLIDER SECTION -->

<!-- BANNER-SECTION START -->
<div class="banner-section section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <!-- Banner Item Start -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <div class="single-banner">
                    <a href="#"><img src="assets/img/banner/1.jpg" alt=""></a>
                </div>
            </div>
            <!-- Banner Item End -->
            <!-- Banner Item Start -->
            <div class="col-sm-6 col-xs-12 mb-30">
                <div class="single-banner">
                    <a href="#"><img src="assets/img/banner/2.jpg" alt=""></a>
                </div>
            </div>
            <!-- Banner Item End -->
        </div>
    </div>
</div>
<!-- BANNER-SECTION END -->

<!-- PRODUCT SECTION START -->
<div class="product-section section pb-60">
    <div class="container">
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-70">
                <h4>our products</h4>
                <h2>new arrivals</h2>
            </div>
        </div>
        <div class="row">
            <!-- product-item start -->
            <div class="col-md-3 col-sm-4 col-xs-6 col-xs-wide mb-40">
                <div class="product-item text-center">
                    <div class="product-img">
                        <a class="image" href="product-details.html"><img src="assets/img/product/1.jpg" alt="" /></a>
                        <a href="#" class="add-to-cart">add to cart</a>
                        <div class="action-btn fix">
                            <a href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="pe-7s-look"></i></a>
                            <a href="#" title="Compare"><i class="pe-7s-repeat"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="title"><a href="product-details.html">Le Parc Minotti Chair</a></h5>
                        <span class="price"><span class="new">$169.00</span></span>
                    </div>
                </div>
            </div>
            <!-- product-item end -->
            <!-- product-item start -->
            <div class="col-md-3 col-sm-4 col-xs-6 col-xs-wide mb-40">
                <div class="product-item text-center">
                    <div class="product-img">
                        <a class="image" href="product-details.html"><img src="assets/img/product/2.jpg" alt="" /></a>
                        <a href="#" class="add-to-cart">add to cart</a>
                        <div class="action-btn fix">
                            <a href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="pe-7s-look"></i></a>
                            <a href="#" title="Compare"><i class="pe-7s-repeat"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="title"><a href="product-details.html">DSR Eiffel chair</a></h5>
                        <span class="price"><span class="new">$137.00</span><span class="old">$115.00</span></span>
                    </div>
                </div>
            </div>
            <!-- product-item end -->
            <!-- product-item start -->
            <div class="col-md-3 col-sm-4 col-xs-6 col-xs-wide mb-40">
                <div class="product-item text-center">
                    <div class="product-img">
                        <a class="image" href="product-details.html"><img src="assets/img/product/3.jpg" alt="" /></a>
                        <a href="#" class="add-to-cart">add to cart</a>
                        <div class="action-btn fix">
                            <a href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="pe-7s-look"></i></a>
                            <a href="#" title="Compare"><i class="pe-7s-repeat"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="title"><a href="product-details.html">3d laser cut models</a></h5>
                        <span class="price"><span class="new">$185.00</span><span class="old">$125..00</span></span>
                    </div>
                </div>
            </div>
            <!-- product-item end -->
            <!-- product-item start -->
            <div class="col-md-3 col-sm-4 col-xs-6 col-xs-wide mb-40">
                <div class="product-item text-center">
                    <div class="product-img">
                        <a class="image" href="product-details.html"><img src="assets/img/product/4.jpg" alt="" /></a>
                        <a href="#" class="add-to-cart">add to cart</a>
                        <div class="action-btn fix">
                            <a href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="pe-7s-look"></i></a>
                            <a href="#" title="Compare"><i class="pe-7s-repeat"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="title"><a href="product-details.html">carl hansen ch25</a></h5>
                        <span class="price"><span class="new">$245.00</span></span>
                    </div>
                </div>
            </div>
            <!-- product-item end -->
            <!-- product-item start -->
            <div class="col-md-3 col-sm-4 col-xs-6 col-xs-wide mb-40">
                <div class="product-item text-center">
                    <div class="product-img">
                        <a class="image" href="product-details.html"><img src="assets/img/product/5.jpg" alt="" /></a>
                        <a href="#" class="add-to-cart">add to cart</a>
                        <div class="action-btn fix">
                            <a href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="pe-7s-look"></i></a>
                            <a href="#" title="Compare"><i class="pe-7s-repeat"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="title"><a href="product-details.html">DSR Eiffel chair</a></h5>
                        <span class="price"><span class="new">$137.00</span><span class="old">$115.00</span></span>
                    </div>
                </div>
            </div>
            <!-- product-item end -->
            <!-- product-item start -->
            <div class="col-md-3 col-sm-4 col-xs-6 col-xs-wide mb-40">
                <div class="product-item text-center">
                    <div class="product-img">
                        <a class="image" href="product-details.html"><img src="assets/img/product/6.jpg" alt="" /></a>
                        <a href="#" class="add-to-cart">add to cart</a>
                        <div class="action-btn fix">
                            <a href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="pe-7s-look"></i></a>
                            <a href="#" title="Compare"><i class="pe-7s-repeat"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="title"><a href="product-details.html">Retro chairs</a></h5>
                        <span class="price"><span class="new">$169.00</span></span>
                    </div>
                </div>
            </div>
            <!-- product-item end -->
            <!-- product-item start -->
            <div class="col-md-3 col-sm-4 col-xs-6 col-xs-wide mb-40">
                <div class="product-item text-center">
                    <div class="product-img">
                        <a class="image" href="product-details.html"><img src="assets/img/product/7.jpg" alt="" /></a>
                        <a href="#" class="add-to-cart">add to cart</a>
                        <div class="action-btn fix">
                            <a href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="pe-7s-look"></i></a>
                            <a href="#" title="Compare"><i class="pe-7s-repeat"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="title"><a href="product-details.html">kichler pendant light</a></h5>
                        <span class="price"><span class="new">$185.00</span><span class="old">$125..00</span></span>
                    </div>
                </div>
            </div>
            <!-- product-item end -->
            <!-- product-item start -->
            <div class="col-md-3 col-sm-4 col-xs-6 col-xs-wide mb-40">
                <div class="product-item text-center">
                    <div class="product-img">
                        <a class="image" href="product-details.html"><img src="assets/img/product/8.jpg" alt="" /></a>
                        <a href="#" class="add-to-cart">add to cart</a>
                        <div class="action-btn fix">
                            <a href="#" title="Wishlist"><i class="pe-7s-like"></i></a>
                            <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="pe-7s-look"></i></a>
                            <a href="#" title="Compare"><i class="pe-7s-repeat"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="title"><a href="product-details.html">pendant lights</a></h5>
                        <span class="price"><span class="new">$245.00</span></span>
                    </div>
                </div>
            </div>
            <!-- product-item end -->
        </div>
    </div>
</div>
<!-- PRODUCT SECTION END -->

<!-- TESTIMONIAL SECTION START -->
<div class="testimonial-section section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <!-- Testimonial Slider -->
                <div class="testimonial-slider text-center">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <img src="assets/img/testimonial/1.png" alt="">
                        <p>“ Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram. ”</p>
                        <i class="pe-7s-way"></i>
                        <h5>Grace Kelly</h5>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <img src="assets/img/testimonial/2.png" alt="">
                        <p>“ Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram. ”</p>
                        <i class="pe-7s-way"></i>
                        <h5>Diane Stevens</h5>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <img src="assets/img/testimonial/3.png" alt="">
                        <p>“ Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram. ”</p>
                        <i class="pe-7s-way"></i>
                        <h5>Mary Harper</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TESTIMONIAL SECTION END -->

<!-- BLOG SECTION START -->
<div class="blog-section section pt-100 pb-60">
    <div class="container">
        <div class="row">
            <div class="section-title text-center col-xs-12 mb-70">
                <h4>latest from</h4>
                <h2>out blog</h2>
            </div>
        </div>
        <div class="row">
            <!-- blog-item start -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-40">
                <div class="blog-item">
                    <a class="image" href="blog-details.html"><img src="assets/img/blog/1.jpg" alt=""></a>
                    <div class="blog-dsc">
                        <span class="date">12 Jun 2017</span>
                        <h4 class="title"><a href="#">How Furniture Is Going To Change Your Business Strategies.</a></h4>
                        <span class="author">by <a href="#">Mary Harper</a></span>
                    </div>
                </div>
            </div>
            <!-- blog-item end -->
            <!-- blog-item start -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-40">
                <div class="blog-item">
                    <a class="image" href="blog-details.html"><img src="assets/img/blog/2.jpg" alt=""></a>
                    <div class="blog-dsc">
                        <span class="date">12 Jun 2017</span>
                        <h4 class="title"><a href="#">Ten Things About Furniture You Have To Experience It Yourself.</a></h4>
                        <span class="author">by <a href="#">Julie Bates</a></span>
                    </div>
                </div>
            </div>
            <!-- blog-item end -->
            <!-- blog-item start -->
            <div class="col-md-4 col-sm-6 col-xs-12 mb-40">
                <div class="blog-item">
                    <a class="image" href="blog-details.html"><img src="assets/img/blog/3.jpg" alt=""></a>
                    <div class="blog-dsc">
                        <span class="date">12 Jun 2017</span>
                        <h4 class="title"><a href="#">10 Moments That Basically Sum Up Your Furniture Experience.</a></h4>
                        <span class="author">by <a href="#">Amy Kelly</a></span>
                    </div>
                </div>
            </div>
            <!-- blog-item end -->
        </div>
    </div>
</div>
<!-- BLOG SECTION END -->

<!-- SERVICE SECTION START -->
<div class="service-section section pt-70 pb-40">
    <div class="container">
        <div class="row">
            <!-- Single Service -->
            <div class="single-service col-md-3 col-sm-6 col-xs-6 mb-30">
                <div class="service-icon">
                    <i class="pe-7s-world"></i>
                </div>
                <div class="service-title">
                    <h3>FREE SHIPPING</h3>
                    <p>Free shipping on all UK orders</p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="single-service col-md-3 col-sm-6 col-xs-6 mb-30">
                <div class="service-icon">
                    <i class="pe-7s-refresh"></i>
                </div>
                <div class="service-title">
                    <h3>FREE EXCHANGE</h3>
                    <p>30 days return on all items</p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="single-service col-md-3 col-sm-6 col-xs-6 mb-30">
                <div class="service-icon">
                    <i class="pe-7s-headphones"></i>
                </div>
                <div class="service-title">
                    <h3>PREMIUM SUPPORT</h3>
                    <p>We support online 24 hours a day</p>
                </div>
            </div>
            <!-- Single Service -->
            <div class="single-service col-md-3 col-sm-6 col-xs-6 mb-30">
                <div class="service-icon">
                    <i class="pe-7s-gift"></i>
                </div>
                <div class="service-title">
                    <h3>BLACK FRIDAY</h3>
                    <p>Shocking discount on every friday</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SERVICE SECTION END -->

<!-- FOOTER TOP SECTION START -->
<div class="footer-top-section section pb-60 pt-100">
    <div class="container">
        <div class="row">
            <!-- Footer Widget -->
            <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
                <h4 class="widget-title">Contact Info</h4>
                <p><strong>Address :</strong> <span>28 Green Tower, Street Name, New York City, USA</span></p>
                <p><strong>Phone :</strong> <span>+8880 44338899</span></p>
                <p><strong>Email :</strong> <a href="#">yourmail@outlook.com</a></p>
                <!-- Footer Social -->
                <div class="footer-social fix">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-rss"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
            <!-- Footer Widget -->
            <div class="footer-widget link-widget col-md-3 col-sm-6 col-xs-12 mb-40">
                <h4 class="widget-title">accounts</h4>
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">My Cart</a></li>
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Check out</a></li>
                </ul>
            </div>
            <!-- Footer Widget -->
            <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
                <h4 class="widget-title">tags</h4>
                <div class="tag-cloud fix">
                    <a href="#">brand</a>
                    <a href="#">fashion</a>
                    <a href="#">sale</a>
                    <a href="#">winter sale</a>
                    <a href="#">summer sale</a>
                    <a href="#">men</a>
                    <a href="#">women</a>
                    <a href="#">kids</a>
                </div>
            </div>
            <!-- Footer Widget -->
            <div class="footer-widget col-md-3 col-sm-6 col-xs-12 mb-40">
                <h4 class="widget-title">Newsletters</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adip isicing elit, sed do eiusmod tempor incididunt.</p>
                <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="sunscribe-form validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL" class="hidden">Subscribe to our mailing list</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value="">
                        </div>
                        <div class="clear">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>