<!-- FOOTER BOTTOM SECTION START -->
<div class="footer-bottom-section section pb-20 pt-20">
  <div class="container">
    <div class="row">
            <!-- Copyright -->
      <div class="copyright text-left col-sm-6 col-xs-12">
        <p>Copyright &copy; 2016 <a href="https://devitems.com/" target="_blank">Devitems</a>. All Right Reserved.</p>
      </div>
      <!-- Payment Method -->
      <div class="payment-method text-right col-sm-6 col-xs-12">
        <img src="assets/img/payment/1.png" alt="payment" />
        <img src="assets/img/payment/2.png" alt="payment" />
        <img src="assets/img/payment/3.png" alt="payment" />
        <img src="assets/img/payment/4.png" alt="payment" />
      </div>
    </div>
  </div>
</div>
<!-- FOOTER BOTTOM SECTION END -->  